.DS_Store

logs/
Logs/
*.log

[Bb]in/
[Oo]bj/
[Bb]uild/
TestResult*/
TestResults/
*.coverage
*.coveragexml
coverage/

packages/
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.iml

publish/
*.Publish.xml

**/staticwebassets/

.env
.env.*
*.secret
secrets.json
appsettings.*.local.json
appsettings.Local.json
appsettings.Development.local.json


